body{
    background-color: black;
    color: wheat;

}
.conteiner{
    width:80%;
    margin:auto;
    background-color: rgb(32, 30, 28);
    border-radius: 20px;
}
#title{ 
    font-size: 90px;
    text-align: center;
}
#image{
    border-radius: 10px;
    box-shadow: 5px 5px 100px black;
}
.heading {
    font-family: 'Lobster', cursive;
   
}
#bir {
    color: red;
}
#content {
    text-align: center;
}
#info {
    width: 80%;
    font-size: 20px;
    text-align: justify;
    margin: 20px auto;
}
#list {
    font-size: 20px;
    padding: 40px;
    margin: auto;
}
#marvel {
    color:red;
    font-size: 40px;
    margin-left: 10%;
}
ul {
    width: 80%;
    margin: auto;
}
li {
    font-size: 24px;
    line-height: 3rem;
}
#footer {
    width: 80%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    font-size: 20px;
}
#link {
    text-decoration: none;
    color: wheat;
    border: 2px solid darkorange;
    border-radius: 10px;
    background-color: black;
    padding: 5px;
}
#link:hover {
    background-color: darkorange;
    color: black;
}